@font-face {
  font-family: allembert;
  src: url(../font/allembert_ufonts.com_.ttf);
}

@font-face {
  font-family: josefsophia;
  src: url(../font/josephsophia.ttf);
}

.love-font{
  font-family: josefsophia;
  font-size: min(10vw, 5.5em);
  margin-top: 0;
}

.love-heading{
  width: 100vw;
  height: 100vw;
  max-width: 900px;
  max-height: 900px;

  background-image: url(../img/marco.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content__title{
  font-family: allembert;
}

.bg-novios {
  background-image: url(../img/ro-novio.gif), url(../img/ro-novia.gif);
  background-position: right;
}

.clock {
  width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

mark {
    --color1: lightskyblue;
    --color2: lightskyblue;
    --bg-height: 30%;
      
    all: unset;
    background-image: linear-gradient(var(--color1), var(--color2));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 var(--bg-height);
    animation: highlight 800ms 1 ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    font-weight: bold;
  }
  
  
  @keyframes highlight {
    to {
      background-size: 100% var(--bg-height);
    }
  }

.icon{
    width: 10vw;
}

.left-mini-list{
  display: inline-block; 
  text-align: left;
}

.blue-border{
  border-color: lightskyblue;
  border-style: solid;
  border-width: 1px;
}

.map{
  display: block;
}

.map-mini{
  display: none;
}

@media screen and (max-width: 400px) {
  .left-mini-list{
    font-size: 0.8em;
  }

  .bg-cabecera {
    background-size: 450px 450px;
  }

  .map-mini{
    display: block;
  }
  
  .map{
    display: none;
  }
}
